{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended"],
  "plugins": [
    "prettier"
  ],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "no-console": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "prettier/prettier": "warn"
  }
}
