{
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 180,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(@next$)",
    "^(next/.*)$",
    "^(@next/(.*)$)|^(@next$)",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "bracketSameLine": true,
  "tailwindConfig": "./ccs-next/tailwind.config.js"
}
