@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav {
    font-family: --font-gotham-rounded, system-ui, sans-serif;
  }
    button {
      font-family: --font-futura-rounded, system-ui, sans-serif;
  }

  footer li:not(:first-child){
    font-family: --font-futura-rounded, system-ui, sans-serif;
  }

  footer input{
    font-family: --font-futura-rounded, system-ui, sans-serif;
  }
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

@layer base {
  body {
    @apply font-body;
  }
  h1,h2,h3,h4,h5 {
    @apply font-header;
  }
}
}