{
  "plugins": [
    "tailwindcss",
    "jsdoc"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "airbnb",
    "airbnb-typescript",
    "plugin:react/jsx-runtime",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "max-len": ["error", {
      "code": 160
    }],
    "quotes": ["error", "double"],
    "@typescript-eslint/quotes": 0,
    "react/jsx-closing-bracket-location": 0,
    "object-curly-newline": 0,
    "@next/next/no-html-link-for-pages": ["warn", "ccs-next/pages"],
    "jsdoc/require-jsdoc": 0,
    "react/jsx-props-no-spreading": 0
  },
  "parserOptions": {
    "project": "**/tsconfig.json"
  },
  "ignorePatterns": ["**/*.config.js"]
}
